## Soccer predict notepad
Models for predict results soccer games
### Source date:
Ranking - https://www.fifa.com/fifa-world-ranking/ranking-table/men/ <br/>
Results of international championship and selecting games

In [2]:
import pandas as pd
import numpy as np
import re

In [50]:
df_rank=pd.read_csv('ranking.csv', header=0, sep=';')

df_rank['Country Code']=df_rank['Team'].str.extract('^([A-Z]{3})')
df_rank['Team']=df_rank['Team'].apply(lambda x: re.sub(r'^[A-Z]{3}', '', x))
df_rank['Total Points']=df_rank['Total Points'].str.extract('\d+\D(\d+\.\d+)').astype(float)
df_rank.dropna(axis=1, how='all', inplace=True)
df_rank.set_index('Country Code', inplace=True)

df_rank # rank of national team

/home/egor/anaconda3/lib/python3.6/site-packages/ipykernel/__main__.py:3: FutureWarning: currently extract(expand=None) means expand=False (return Index/Series/DataFrame) but in a future version of pandas this will be changed to expand=True (return DataFrame)
  app.launch_new_instance()
/home/egor/anaconda3/lib/python3.6/site-packages/ipykernel/__main__.py:5: FutureWarning: currently extract(expand=None) means expand=False (return Index/Series/DataFrame) but in a future version of pandas this will be changed to expand=True (return DataFrame)

,Rank,Team,Total Points,Previous Points,+/-,Avg.,AVG WGT,Avg..1,AVG WGT.1,Avg..2,AVG WGT.2,Avg..3,AVG WGT.3
Country Code,,,,,,,,,,,,,
BRA,1,Brazil,1715.02,1672,0,1038.91,1038.91,555.56,277.78,793.26,237.98,801.78,160.36
ARG,2,Argentina,1626.23,1603,0,877.12,877.12,741.10,370.55,919.87,275.96,512.98,102.60
GER,3,Germany,1511.44,1464,0,857.80,857.80,412.01,206.00,1153.12,345.94,508.50,101.70
CHI,4,Chile,1422.14,1411,0,756.47,756.47,793.85,396.92,489.13,146.74,610.01,122.00
COL,5,Colombia,1365.63,1348,0,705.66,705.66,597.24,298.62,821.59,246.48,574.37,114.87
FRA,6,France,1332.16,1294,0,855.30,855.30,351.26,175.63,704.66,211.40,449.18,89.84
BEL,7,Belgium,1291.57,1281,0,597.83,597.83,587.90,293.95,961.05,288.32,557.40,111.48
POR,8,Portugal,1266.76,1259,0,671.59,671.59,564.84,282.42,617.62,185.29,637.29,127.46
SUI,9,Switzerland,1263.29,1212,0,788.68,788.68,355.32,177.66,563.16,168.95,640.01,128.00
ESP,10,Spain,1198.19,1204,0,597.37,597.37,669.64,334.82,443.99,133.20,664.00,132.80
POL,10,Poland,1197.70,1183,1,764.51,764.51,450.51,225.25,554.05,166.21,208.62,41.72
ITA,12,Italy,1193.23,1165,0,708.03,708.03,417.65,208.82,550.06,165.02,556.81,111.36
WAL,13,Wales,1119.36,1119,0,683.10,683.10,404.91,202.46,572.55,171.77,310.21,62.04
ENG,13,England,1119.17,1103,1,591.57,591.57,544.52,272.26,520.33,156.10,496.25,99.25
PER,15,Peru,1108.36,1044,2,809.83,809.83,369.85,184.93,203.83,61.15,262.31,52.46
URU,16,Uruguay,1098.77,1097,-1,487.69,487.69,582.68,291.34,618.27,185.48,671.34,134.27
MEX,17,Mexico,1049.98,1076,-1,583.06,583.06,492.90,246.45,449.51,134.85,428.06,85.61
CRO,18,Croatia,1033.11,1016,0,637.83,637.83,356.79,178.39,536.15,160.84,280.24,56.05
CRC,19,Costa Rica,912.74,902,1,477.40,477.40,306.98,153.49,629.32,188.80,465.28,93.06
EGY,20,Egypt,902.98,910,-1,568.68,568.68,323.98,161.99,234.47,70.34,509.84,101.97
SVK,21,Slovakia,882.98,846,3,428.49,428.49,339.80,169.90,737.30,221.19,317.00,63.40
ISL,22,Iceland,876.96,872,-1,506.60,506.60,339.98,169.99,465.47,139.64,303.64,60.73
USA,23,USA,861.29,847,0,453.11,453.11,373.96,186.98,306.40,91.92,646.42,129.28
ECU,24,Ecuador,858.06,839,1,403.45,403.45,578.57,289.29,371.72,111.52,269.01,53.80
TUR,25,Turkey,NaN,863,-3,386.42,386.42,619.75,309.87,243.05,72.91,428.96,85.79
IRL,26,Republic of Ireland,853.67,823,0,487.91,487.91,469.67,234.83,337.84,101.35,147.85,29.57
SEN,27,Senegal,838.99,805,3,479.05,479.05,269.36,134.68,584.93,175.48,248.88,49.78
NIR,28,Northern Ireland,837.49,823,-2,389.48,389.48,507.98,253.99,497.95,149.39,223.19,44.64
BIH,29,Bosnia and Herzegovina,835.35,815,0,422.21,422.21,474.51,237.25,350.96,105.29,352.99,70.60
IRN,30,Iran,828.66,820,-2,470.21,470.21,321.98,160.99,398.22,119.47,389.96,77.99
...,...,...,...,...,...,...,...,...,...,...,...,...,...
MLT,182,Malta,83.54,86,0,11.74,11.74,64.57,32.29,49.85,14.96,122.81,24.56
GUM,183,Guam,81.72,82,0,0.00,0.00,113.42,56.71,54.64,16.39,43.10,8.62
MAC,184,Macau,76.55,77,0,53.13,53.13,8.50,4.25,63.92,19.18,0.00,0.00
BER,185,Bermuda,75.44,75,0,0.00,0.00,53.98,26.99,161.50,48.45,0.00,0.00
LIE,186,Liechtenstein,69.43,64,3,0.00,0.00,26.87,13.44,162.64,48.79,36.00,7.20
AND,186,Andorra,68.82,66,1,62.94,62.94,7.37,3.69,0.00,0.00,11.00,2.20
BRU,188,Brunei Darussalam,64.81,65,0,42.50,42.50,0.00,0.00,74.38,22.31,0.00,0.00
ASA,189,American Samoa,63.75,64,0,0.00,0.00,127.50,63.75,0.00,0.00,0.00,0.00
COK,189,Cook Islands,63.75,64,0,0.00,0.00,127.50,63.75,0.00,0.00,0.00,0.00
SAM,189,Samoa,63.75,64,0,0.00,0.00,127.50,63.75,0.00,0.00,0.00,0.00
BAN,192,Bangladesh,61.52,60,1,21.25,21.25,37.63,18.81,59.50,17.85,18.06,3.61
DMA,193,Dominica,60.82,74,-7,0.00,0.00,63.75,31.88,79.71,23.91,25.14,5.03
SEY,194,Seychelles,56.92,51,2,6.07,6.07,65.61,32.80,25.08,7.52,52.63,10.53
DJI,195,Djibouti,53.12,53,-1,53.13,53.13,0.00,0.00,0.00,0.00,0.00,0.00
TLS,196,Timor-Leste,50.76,52,-1,4.72,4.72,28.33,14.17,106.25,31.88,0.00,0.00
MNG,197,Mongolia,NaN,34,0,34.00,34.00,0.00,0.00,0.00,0.00,0.00,0.00
SRI,197,Sri Lanka,33.70,34,0,8.50,8.50,25.50,12.75,24.29,7.29,25.80,5.16
VIR,199,US Virgin Islands,26.39,26,0,0.00,0.00,0.00,0.00,87.98,26.39,0.00,0.00
PAK,200,Pakistan,23.85,24,1,0.00,0.00,0.00,0.00,50.83,15.25,43.00,8.60
TCA,201,Turks and Caicos Islands,19.80,20,1,0.00,0.00,0.00,0.00,66.00,19.80,0.00,0.00
MSR,201,Montserrat,19.58,26,-2,0.00,0.00,0.00,0.00,21.25,6.38,66.00,13.20
CAY,203,Cayman Islands,12.75,13,0,0.00,0.00,0.00,0.00,42.50,12.75,0.00,0.00
SMR,204,San Marino,11.88,12,0,0.00,0.00,0.00,0.00,39.60,11.88,0.00,0.00
VGB,205,British Virgin Islands,6.38,5,0,0.00,0.00,0.00,0.00,21.25,6.38,0.00,0.00
AIA,206,Anguilla,NaN,0,0,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
BAH,206,Bahamas,NaN,0,0,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
ERI,206,Eritrea,NaN,0,0,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
GIB,206,Gibraltar,NaN,0,0,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
SOM,206,Somalia,NaN,0,0,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
TGA,206,Tonga,NaN,0,0,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00

In [51]:
df_rus_eng_translate=pd.read_csv('../Migration/countries_rus_eng.csv', header=None, names=['Rus', 'Eng'])
#df_rus_eng_translate.set_index('Rus', inplace=True)

dict_translate=df_rus_eng_translate.set_index('Rus').to_dict()['Eng']
print(dict_translate)

{'Абхазия': 'Abkhazia', 'Австралия': 'Australia', 'Австрия': 'Austria', 'Азербайджан': 'Azerbaijan', 'Аландские острова': 'Aland Islands', 'Албания': 'Albania', 'Алжир': 'Algeria', 'Ангилья': 'Anguilla', 'Англия': 'England', 'Ангола': 'Angola', 'Андорра': 'Andorra', 'Аргентина': 'Argentina', 'Армения': 'Armenia', 'Аруба': 'Aruba', 'Афганистан': 'Afghanistan', 'Багамские острова': 'Bahamas', 'Бангладеш': 'Bangladesh', 'Барбадос': 'Barbados', 'Бахрейн': 'Bahrain', 'Беларусь': 'Belarus', 'Белиз': 'Belize', 'Бельгия': 'Belgium', 'Бенин': 'Benin', 'Болгария': 'Bulgaria', 'Боливия': 'Bolivia', 'Боливия, многонациональное государство': 'Bolivia', 'Босния и Герцеговина': 'Bosnia and Herzegovina', 'Ботсвана': 'Botswana', 'Бразилия': 'Brazil', 'Бруней': 'Brunei Darussalam', 'Бурунди': 'Burundi', 'Бутан': 'Bhutan', 'Ватикан': 'Vatican City', 'Великобритания': 'United Kingdom', 'Великобритания (Соединенное Королевство)': 'United Kingdom', 'Венгрия': 'Hungary', 'Венесуэла': 'Venezuela', 'Венесуэла, Боливарианская Республика': 'Venezuela', 'Восточный Тимор': 'Timor, East', 'Вьетнам': 'Viet Nam', 'Габон': 'Gabon', 'Гаити': 'Haiti', 'Гамбия': 'Gambia', 'Гана': 'Ghana', 'Гваделупа': 'Guadeloupe', 'Гватемала': 'Guatemala', 'Гвинея': 'Guinea', 'Гвинея-Бисау': 'Guinea-Bissau', 'Германия': 'Germany', 'Гибралтар': 'Gibraltar', 'Гондурас': 'Honduras', 'Гонконг': 'Hong Kong', 'Гренада': 'Grenada', 'Гренландия': 'Greenland', 'Греция': 'Greece', 'Грузия': 'Georgia', 'Гуам': 'Guam', 'Дания': 'Denmark', 'Доминика': 'Dominica', 'Доминиканская Республика': 'Dominican Republic', 'Египет': 'Egypt', 'Замбия': 'Zambia', 'Западная Сахара': 'Western Sahara', 'Зимбабве': 'Zimbabwe', 'Израиль': 'Israel', 'Индия': 'India', 'Индонезия': 'Indonesia', 'Иордания': 'Jordan', 'Ирак': 'Iraq', 'Иран': 'Iran', 'Иран, Исламская Республика': 'Iran', 'Ирландия': 'Ireland', 'Исландия': 'Iceland', 'Испания': 'Spain', 'Италия': 'Italy', 'Йемен': 'Yemen', 'КНДР (Северная Корея)': 'Korea, D.P.R.', 'Казахстан': 'Kazakhstan', 'Камбоджа': 'Cambodia', 'Камерун': 'Cameroon', 'Канада': 'Canada', 'Катар': 'Qatar', 'Кения': 'Kenya', 'Кипр': 'Cyprus', 'Киргизия': 'Kyrgyzstan', 'Кирибати': 'Kiribati', 'Китай': 'China', 'Колумбия': 'Colombia', 'Конго': 'Republic of the Congo', 'Конго, Демократическая Республика': 'Democratic Republic of the Congo', 'Корейская Народно-Демократическая Республика': 'Korea, D.P.R.', 'Корея Северная': 'Korea, D.P.R.', 'Корея Южная': 'Korea', 'Южная Корея': 'Korea', 'Корея, Республика': 'Korea', 'Коста-Рика': 'Costa Rica', "Кот-д'Ивуар": "Cote d'Ivoire", 'Кот-д’Ивуар': "Cote d'Ivoire", 'Куба': 'Cuba', 'Кувейт': 'Kuwait', 'ЛИЦА БЕЗ ГРАЖДАНСТВА': 'v.c.', 'Лаос': 'Lao P.D.R.', 'Лаосская Народно-Демократическая Республика': 'Lao P.D.R.', 'Латвия': 'Latvia', 'Лесото': 'Lesotho', 'Либерия': 'Liberia', 'Ливан': 'Lebanon', 'Ливия': 'Libyan Arab Jamahiriya', 'Литва': 'Lithuania', 'Лихтенштейн': 'Liechtenstein', 'Люксембург': 'Luxembourg', 'Маврикий': 'Mauritius', 'Мавритания': 'Mauritania', 'Мадагаскар': 'Madagascar', 'Македония': 'Macedonia', 'Малави': 'Malawi', 'Малайзия': 'Malaysia', 'Мали': 'Mali', 'Мальдивы': 'Maldives', 'Мальта': 'Malta', 'Марокко': 'Morocco', 'Мексика': 'Mexico', 'Мозамбик': 'Mozambique', 'Молдавия': 'Moldova', 'Молдова, Республика': 'Moldova Republic', 'Монако': 'Monaco', 'Монголия': 'Mongolia', 'Намибия': 'Namibia', 'Непал': 'Nepal', 'Нигер': 'Niger', 'Нигерия': 'Nigeria', 'Нидерланды': 'Netherlands', 'Никарагуа': 'Nicaragua', 'Новая Зеландия': 'New Zealand', 'Норвегия': 'Norway', 'ОАЭ': 'United Arab Emirates', 'Оман': 'Oman', 'Пакистан': 'Pakistan', 'Палестина': 'Palestine', 'Палестина, Государство': 'Palestine', 'Панама': 'Panama', 'Парагвай': 'Paraguay', 'Перу': 'Peru', 'Польша': 'Poland', 'Португалия': 'Portugal', 'Республика Корея': 'Korea', 'Республика Македония': 'Macedonia', 'Республика Молдова': 'Moldova Republic', 'Россия': 'Russia', 'Румыния': 'Romania', 'США': 'USA', 'Сан-Марино': 'San Marino', 'Саудовская Аравия': 'Saudi Arabia', 'Сенегал': 'Senegal', 'Сербия': 'Serbia', 'Сингапур': 'Singapore', 'Сирийская Арабская Республика': 'Syrian Arab Republic', 'Сирия': 'Syrian Arab Republic', 'Словакия': 'Slovakia', 'Словения': 'Slovenia', 'Соединенное Королевство (Великобритания)': 'United Kingdom', 'Соединенные Штаты': 'USA', 'Сомали': 'Somalia', 'Судан': 'Sudan', 'Таджикистан': 'Tajikistan', 'Таиланд': 'Thailand', 'Тайвань (Китай)': 'Taiwan', 'Танзания': 'Tanzania', 'Того': 'Togo', 'Тунис': 'Tunisia', 'Туркмения': 'Turkmenistan', 'Турция': 'Turkey', 'Уганда': 'Uganda', 'Узбекистан': 'Uzbekistan', 'Украина': 'Ukraine', 'Уругвай': 'Uruguay', 'Федеративные Штаты Микронезии': 'Micronesia', 'Фиджи': 'Fiji', 'Филиппины': 'Philippines', 'Финляндия': 'Finland', 'Франция': 'France', 'Хорватия': 'Croatia', 'Чад': 'Chad', 'Черногория': 'Montenegro', 'Чешская Республика': 'Czech Republic', 'Чили': 'Chile', 'Швейцария': 'Switzerland', 'Швеция': 'Sweden', 'Шри-Ланка': 'Sri Lanka', 'Эквадор': 'Ecuador', 'Эритрея': 'Eritrea', 'Эстония': 'Estonia', 'Эфиопия': 'Ethiopia', 'ЮАР': 'South Africa', 'Южная Африка': 'South Africa', 'Южная Осетия': 'South Ossetia', 'Ямайка': 'Jamaica', 'Япония': 'Japan', 'другие страны': 'other countries', 'North. Ireland': 'Northern Ireland', 'Голландия': 'Netherlands', 'Таити': 'Tahiti', 'Bosnia-Herzegov': 'Bosnia and Herzegovina', 'Korea': 'Korea Republic', 'Ireland': 'Republic of Ireland', 'Ireland Rep.': 'Republic of Ireland', 'Macedonia': 'FYR Macedonia'}

## Making dataframe for modeling
### Field 'Result' will be y - label for forecasting. 
'1' - left team win, '-1' - right team win, '0' - draw
### Modeling will be on UEFA rank 
Fields 'Total Points', 'Previous Points' and '+/-' from dataset

In [5]:
lst_columns=['Country 1', 'Country 2', 'Score 1', 'Score 2']
df_results=pd.DataFrame(columns=lst_columns)

def set_results(x):
    if x['Score 1'] > x['Score 2']: return 1
    if x['Score 1'] < x['Score 2']: return -1
    return 0

def translate_line(strLine):
    words=list(filter(None, re.split('\t| - |:|–', line))) 
    return [dict_translate.get(word.strip(), word.strip()) for word in words if word not in ['-', '–']]

    
f=open('results.txt', 'r')
for i, line in enumerate(f):
    df_results.loc[i]=dict(zip(lst_columns, translate_line(line)))

df_results[lst_columns[2:]].astype(int)

#print(df_results['Score 2'].sort_values().unique().tolist())
df_results['result']=df_results.apply(set_results, axis=1)
df_results # dataframe with games results

        Country 1     Country 2 Score 1 Score 2  result
0          Brazil         Spain       3       0       1
1         Uruguay         Italy       2       3      -1
2           Spain         Italy       7       6       1
3          Brazil       Uruguay       2       1       1
4           Italy        Brazil       2       4      -1
5           Japan        Mexico       1       2      -1
6           Italy         Japan       4       3       1
7          Brazil        Mexico       2       0       1
8          Mexico         Italy       1       2      -1
9          Brazil         Japan       3       0       1
10        Nigeria         Spain       0       3      -1
11        Uruguay        Tahiti       8       0       1
12        Nigeria       Uruguay       1       2      -1
13          Spain        Tahiti      10       0       1
14         Tahiti       Nigeria       1       6      -1
15          Spain       Uruguay       2       1       1
16            USA        Brazil       2       3      -1
17          Spain  South Africa       3       2       1
18         Brazil  South Africa       1       0       1
19          Spain           USA       0       2      -1
20           Iraq   New Zealand       0       0       0
21          Spain  South Africa       2       0       1
22   South Africa   New Zealand       2       0       1
23          Spain          Iraq       1       0       1
24    New Zealand         Spain       0       5      -1
25   South Africa          Iraq       0       0       0
26          Egypt           USA       0       3      -1
27          Italy        Brazil       0       3      -1
28          Egypt         Italy       1       0       1
29            USA        Brazil       0       3      -1
..            ...           ...     ...     ...     ...
256         Haiti          Peru       0       1      -1
257        Brazil       Ecuador       0       0       0
258       Jamaica     Venezuela       0       1      -1
259        Mexico       Uruguay       3       1       1
260        Panama       Bolivia       2       1       1
261     Argentina         Chile       2       1       1
262           USA    Costa Rica       4       0       1
263      Colombia      Paraguay       2       1       1
264        Brazil         Haiti       7       1       1
265       Ecuador          Peru       2       2       0
266       Uruguay     Venezuela       0       1      -1
267        Mexico       Jamaica       2       0       1
268         Chile       Bolivia       2       1       1
269     Argentina        Panama       5       0       1
270           USA      Paraguay       1       0       1
271      Colombia    Costa Rica       2       3      -1
272       Ecuador         Haiti       4       0       1
273        Brazil          Peru       0       1      -1
274        Mexico     Venezuela       1       1       0
275       Uruguay       Jamaica       3       0       1
276         Chile        Panama       4       2       1
277     Argentina       Bolivia       3       0       1
278           USA       Ecuador       2       1       1
279          Peru      Colombia       0       0       0
280     Argentina     Venezuela       4       1       1
281        Mexico         Chile       0       7      -1
282           USA     Argentina       0       4      -1
283      Colombia         Chile       0       2      -1
284           USA      Colombia       0       1      -1
285     Argentina         Chile       0       0       0

[286 rows x 5 columns]

In [52]:
lstR=pd.DataFrame(df_rank['Team'].sort_values().unique(), columns=['Country'])
ser_code=lstR.reset_index().set_index('Country')['index']

df_rank['Country ID']=df_rank['Team'].map(ser_code)
df_results['Country 1 ID']=df_results['Country 1'].map(ser_code)
df_results['Country 2 ID']=df_results['Country 2'].map(ser_code)

pd_model=pd.merge(df_results, df_rank.dropna(), how='inner', left_on='Country 1 ID', right_on='Country ID')
pd_model=pd.merge(pd_model, df_rank.dropna(), how='inner', left_on='Country 2 ID', right_on='Country ID')
print(pd_model)

            Country 1     Country 2 Score 1 Score 2  result  Country 1 ID  \
0              Brazil         Spain       3       0       1          27.0
1               Italy         Spain       2       0       1          95.0
2             Nigeria         Spain       0       3      -1         139.0
3         New Zealand         Spain       0       5      -1         136.0
4             Croatia         Spain       2       1       1          50.0
5       FYR Macedonia         Spain       1       2      -1          67.0
6              Brazil       Uruguay       2       1       1          27.0
7               Spain       Uruguay       2       1       1         173.0
8               Italy       Uruguay       0       1      -1          95.0
9              Mexico       Uruguay       3       1       1         124.0
10            Nigeria       Uruguay       1       2      -1         139.0
11           Colombia       Uruguay       2       0       1          43.0
12             Brazil        Mexico       2       0       1          27.0
13             Brazil        Mexico       0       0       0          27.0
14              Japan        Mexico       1       2      -1          97.0
15              Japan        Mexico       1       2      -1          97.0
16            Germany        Mexico       4       3       1          75.0
17             Greece        Mexico       0       0       0          78.0
18        Netherlands        Mexico       2       1       1         134.0
19            Croatia        Mexico       1       3      -1          50.0
20           Portugal        Mexico       2       2       0         151.0
21             Brazil         Japan       3       0       1          27.0
22              Italy         Japan       4       3       1          95.0
23             Greece         Japan       0       1      -1          78.0
24      Cote d'Ivoire         Japan       2       1       1          49.0
25             Brazil  South Africa       1       0       1          27.0
26              Spain  South Africa       3       2       1         173.0
27              Spain  South Africa       2       0       1         173.0
28             Brazil         Egypt       4       3       1          27.0
29             Brazil     Argentina       4       1       1          27.0
..                ...           ...     ...     ...     ...           ...
241          Portugal       Hungary       3       0       1         151.0
242           Austria       Hungary       0       2      -1          12.0
243           Iceland       Hungary       1       1       0          89.0
244           Andorra       Hungary       1       0       1           4.0
245             Wales        Serbia       1       1       0         207.0
246           Georgia        Serbia       1       3      -1          74.0
247            Poland       Armenia       2       1       1         150.0
248        Montenegro       Armenia       4       1       1         127.0
249           Austria       Moldova       2       0       1          12.0
250           Georgia       Moldova       1       1       0          74.0
251           Romania       Denmark       0       0       0         155.0
252        Kazakhstan       Denmark       1       3      -1          99.0
253           Ukraine       Finland       1       0       1         200.0
254    Czech Republic    Azerbaijan       0       0       0          54.0
255  Northern Ireland    Azerbaijan       4       0       1         140.0
256    Czech Republic        Norway       2       1       1          54.0
257  Northern Ireland        Norway       2       0       1         140.0
258           Hungary       Andorra       4       0       1          88.0
259            Sweden       Belarus       4       0       1         181.0
260          Bulgaria       Belarus       1       0       1          30.0
261         Lithuania         Malta       2       0       1         113.0
262          Slovenia         Malta       2       0       1         168.0
263           Denmark    Montenegro       0       1      -1          55.0
264           Armenia    Montenegro       3       2       1           9.0
265           Denmark    Kazakhstan       4       1       1          55.0
266           Armenia    Kazakhstan       2       0       1           9.0
267             Malta      Slovenia       0       1      -1         121.0
268          Scotland      Slovenia       1       0       1         161.0
269           Belarus      Bulgaria       2       1       1          18.0
270           Moldova       Georgia       2       2       0         125.0

     Country 2 ID  Rank_x            Team_x  Total Points_x      ...       \
0           173.0       1            Brazil         1715.02      ...
1           173.0      12             Italy         1193.23      ...
2           173.0      38           Nigeria          729.70      ...
3           173.0      95       New Zealand          343.62      ...
4           173.0      18           Croatia         1033.11      ...
5           173.0     136     FYR Macedonia          217.80      ...
6           202.0       1            Brazil         1715.02      ...
7           202.0      10             Spain         1198.19      ...
8           202.0      12             Italy         1193.23      ...
9           202.0      17            Mexico         1049.98      ...
10          202.0      38           Nigeria          729.70      ...
11          202.0       5          Colombia         1365.63      ...
12          124.0       1            Brazil         1715.02      ...
13          124.0       1            Brazil         1715.02      ...
14          124.0      45             Japan          689.37      ...
15          124.0      45             Japan          689.37      ...
16          124.0       3           Germany         1511.44      ...
17          124.0      40            Greece          726.13      ...
18          124.0      31       Netherlands          819.56      ...
19          124.0      18           Croatia         1033.11      ...
20          124.0       8          Portugal         1266.76      ...
21           97.0       1            Brazil         1715.02      ...
22           97.0      12             Italy         1193.23      ...
23           97.0      40            Greece          726.13      ...
24           97.0      47     Cote d'Ivoire          684.76      ...
25          171.0       1            Brazil         1715.02      ...
26          171.0      10             Spain         1198.19      ...
27          171.0      10             Spain         1198.19      ...
28           60.0       1            Brazil         1715.02      ...
29            8.0       1            Brazil         1715.02      ...
..            ...     ...               ...             ...      ...
241          88.0       8          Portugal         1266.76      ...
242          88.0      35           Austria          750.24      ...
243          88.0      22           Iceland          876.96      ...
244          88.0     186           Andorra           68.82      ...
245         163.0      13             Wales         1119.36      ...
246         163.0     122           Georgia          270.80      ...
247           9.0      10            Poland         1197.70      ...
248           9.0      52        Montenegro          647.17      ...
249         125.0      35           Austria          750.24      ...
250         125.0     122           Georgia          270.80      ...
251          55.0      46           Romania          686.06      ...
252          55.0     100        Kazakhstan          331.20      ...
253          70.0      37           Ukraine          737.33      ...
254          13.0      44    Czech Republic          689.72      ...
255          13.0      28  Northern Ireland          837.49      ...
256         141.0      44    Czech Republic          689.72      ...
257         141.0      28  Northern Ireland          837.49      ...
258           4.0      33           Hungary          801.61      ...
259          18.0      34            Sweden          792.81      ...
260          18.0      60          Bulgaria          615.23      ...
261         121.0     104         Lithuania          327.41      ...
262         121.0      56          Slovenia          630.69      ...
263         127.0      51           Denmark          660.02      ...
264         127.0      68           Armenia          527.13      ...
265          99.0      51           Denmark          660.02      ...
266          99.0      68           Armenia          527.13      ...
267         168.0     182             Malta           83.54      ...
268         168.0      61          Scotland          603.05      ...
269          30.0      83           Belarus          418.60      ...
270          74.0     161           Moldova          135.11      ...

     +/-_y  Avg._y  AVG WGT_y  Avg..1_y  AVG WGT.1_y  Avg..2_y  AVG WGT.2_y  \
0        0  597.37     597.37    669.64       334.82    443.99       133.20
1        0  597.37     597.37    669.64       334.82    443.99       133.20
2        0  597.37     597.37    669.64       334.82    443.99       133.20
3        0  597.37     597.37    669.64       334.82    443.99       133.20
4        0  597.37     597.37    669.64       334.82    443.99       133.20
5        0  597.37     597.37    669.64       334.82    443.99       133.20
6       -1  487.69     487.69    582.68       291.34    618.27       185.48
7       -1  487.69     487.69    582.68       291.34    618.27       185.48
8       -1  487.69     487.69    582.68       291.34    618.27       185.48
9       -1  487.69     487.69    582.68       291.34    618.27       185.48
10      -1  487.69     487.69    582.68       291.34    618.27       185.48
11      -1  487.69     487.69    582.68       291.34    618.27       185.48
12      -1  583.06     583.06    492.90       246.45    449.51       134.85
13      -1  583.06     583.06    492.90       246.45    449.51       134.85
14      -1  583.06     583.06    492.90       246.45    449.51       134.85
15      -1  583.06     583.06    492.90       246.45    449.51       134.85
16      -1  583.06     583.06    492.90       246.45    449.51       134.85
17      -1  583.06     583.06    492.90       246.45    449.51       134.85
18      -1  583.06     583.06    492.90       246.45    449.51       134.85
19      -1  583.06     583.06    492.90       246.45    449.51       134.85
20      -1  583.06     583.06    492.90       246.45    449.51       134.85
21      -1  407.86     407.86    266.44       133.22    344.24       103.27
22      -1  407.86     407.86    266.44       133.22    344.24       103.27
23      -1  407.86     407.86    266.44       133.22    344.24       103.27
24      -1  407.86     407.86    266.44       133.22    344.24       103.27
25      -1  286.27     286.27    265.08       132.54    290.93        87.28
26      -1  286.27     286.27    265.08       132.54    290.93        87.28
27      -1  286.27     286.27    265.08       132.54    290.93        87.28
28      -1  568.68     568.68    323.98       161.99    234.47        70.34
29       0  877.12     877.12    741.10       370.55    919.87       275.96
..     ...     ...        ...       ...          ...       ...          ...
241     -2  369.81     369.81    555.96       277.98    359.66       107.90
242     -2  369.81     369.81    555.96       277.98    359.66       107.90
243     -2  369.81     369.81    555.96       277.98    359.66       107.90
244     -2  369.81     369.81    555.96       277.98    359.66       107.90
245     -1  380.69     380.69    312.80       156.40    156.42        46.93
246     -1  380.69     380.69    312.80       156.40    156.42        46.93
247     -1  355.84     355.84    125.94        62.97     58.69        17.61
248     -1  355.84     355.84    125.94        62.97     58.69        17.61
249     -2   49.71      49.71     44.20        22.10     62.31        18.69
250     -2   49.71      49.71     44.20        22.10     62.31        18.69
251      0  313.01     313.01    312.44       156.22    401.06       120.32
252      0  313.01     313.01    312.44       156.22    401.06       120.32
253    -11   53.79      53.79    328.63       164.31    138.60        41.58
254     11  309.78     309.78    111.87        55.94     77.92        23.38
255     11  309.78     309.78    111.87        55.94     77.92        23.38
256     -1  108.03     108.03    333.68       166.84    273.54        82.06
257     -1  108.03     108.03    333.68       166.84    273.54        82.06
258      1   62.94      62.94      7.37         3.69      0.00         0.00
259     -5  191.07     191.07    265.17       132.59    221.07        66.32
260     -5  191.07     191.07    265.17       132.59    221.07        66.32
261      0   11.74      11.74     64.57        32.29     49.85        14.96
262      0   11.74      11.74     64.57        32.29     49.85        14.96
263     10  489.06     489.06    107.02        53.51    254.43        76.33
264     10  489.06     489.06    107.02        53.51    254.43        76.33
265      4  171.38     171.38    213.84       106.92     89.97        26.99
266      4  171.38     171.38    213.84       106.92     89.97        26.99
267     -1  327.78     327.78    224.33       112.17    278.03        83.41
268     -1  327.78     327.78    224.33       112.17    278.03        83.41
269     -5  378.68     378.68    233.89       116.94    307.40        92.22
270      0  156.24     156.24    165.72        82.86     27.23         8.17

     Avg..3_y  AVG WGT.3_y  Country ID_y
0      664.00       132.80           173
1      664.00       132.80           173
2      664.00       132.80           173
3      664.00       132.80           173
4      664.00       132.80           173
5      664.00       132.80           173
6      671.34       134.27           202
7      671.34       134.27           202
8      671.34       134.27           202
9      671.34       134.27           202
10     671.34       134.27           202
11     671.34       134.27           202
12     428.06        85.61           124
13     428.06        85.61           124
14     428.06        85.61           124
15     428.06        85.61           124
16     428.06        85.61           124
17     428.06        85.61           124
18     428.06        85.61           124
19     428.06        85.61           124
20     428.06        85.61           124
21     225.10        45.02            97
22     225.10        45.02            97
23     225.10        45.02            97
24     225.10        45.02            97
25     206.65        41.33           171
26     206.65        41.33           171
27     206.65        41.33           171
28     509.84       101.97            60
29     512.98       102.60             8
..        ...          ...           ...
241    229.60        45.92            88
242    229.60        45.92            88
243    229.60        45.92            88
244    229.60        45.92            88
245    408.40        81.68           163
246    408.40        81.68           163
247    453.61        90.72             9
248    453.61        90.72             9
249    223.03        44.61           125
250    223.03        44.61           125
251    352.36        70.47            55
252    352.36        70.47            55
253    315.75        63.15            70
254    249.52        49.90            13
255    249.52        49.90            13
256    169.75        33.95           141
257    169.75        33.95           141
258     11.00         2.20             4
259    143.14        28.63            18
260    143.14        28.63            18
261    122.81        24.56           121
262    122.81        24.56           121
263    141.37        28.27           127
264    141.37        28.27           127
265    129.57        25.91            99
266    129.57        25.91            99
267    536.69       107.34           168
268    536.69       107.34           168
269    136.95        27.39            30
270    117.66        23.53            74

[271 rows x 35 columns]

In [7]:
lst_model_fld=['result', 'Total Points_x', 
               'Previous Points_x', '+/-_x', 
               'Total Points_y', 
               'Previous Points_y', '+/-_y']
print(pd_model[lst_model_fld]) # dataframe for model

# label = result, 1 - win Country 1, -1 - win Country 2, 0 - draw

     result  Total Points_x  Previous Points_x  +/-_x  Total Points_y  \
0         1         1715.02               1672      0         1198.19
1         1         1193.23               1165      0         1198.19
2        -1          729.70                726      2         1198.19
3        -1          343.62                301     17         1198.19
4         1         1033.11               1016      0         1198.19
5        -1          217.80                225     -3         1198.19
6         1         1715.02               1672      0         1098.77
7         1         1198.19               1204      0         1098.77
8        -1         1193.23               1165      0         1098.77
9         1         1049.98               1076     -1         1098.77
10       -1          729.70                726      2         1098.77
11        1         1365.63               1348      0         1098.77
12        1         1715.02               1672      0         1049.98
13        0         1715.02               1672      0         1049.98
14       -1          689.37                685     -1         1049.98
15       -1          689.37                685     -1         1049.98
16        1         1511.44               1464      0         1049.98
17        0          726.13                730     -1         1049.98
18        1          819.56                792      1         1049.98
19       -1         1033.11               1016      0         1049.98
20        0         1266.76               1259      0         1049.98
21        1         1715.02               1672      0          689.37
22        1         1193.23               1165      0          689.37
23       -1          726.13                730     -1          689.37
24        1          684.76                672      1          689.37
25        1         1715.02               1672      0          547.42
26        1         1198.19               1204      0          547.42
27        1         1198.19               1204      0          547.42
28        1         1715.02               1672      0          902.98
29        1         1715.02               1672      0         1626.23
..      ...             ...                ...    ...             ...
241       1         1266.76               1259      0          801.61
242      -1          750.24                762      1          801.61
243       0          876.96                872     -1          801.61
244       1           68.82                 66      1          801.61
245       0         1119.36               1119      0          665.70
246      -1          270.80                274      0          665.70
247       1         1197.70               1183      1          527.13
248       1          647.17                560     10          527.13
249       1          750.24                762      1          135.11
250       0          270.80                274      0          135.11
251       0          686.06                676      1          660.02
252      -1          331.20                325      4          660.02
253       1          737.33                761      0          322.83
254       0          689.72                679      2          438.99
255       1          837.49                823     -2          438.99
256       1          689.72                679      2          390.88
257       1          837.49                823     -2          390.88
258       1          801.61                801     -2           68.82
259       1          792.81                768      0          418.60
260       1          615.23                614     -5          418.60
261       1          327.41                331     -4           83.54
262       1          630.69                614     -1           83.54
263      -1          660.02                657      0          647.17
264       1          527.13                527     -1          647.17
265       1          660.02                657      0          331.20
266       1          527.13                527     -1          331.20
267      -1           83.54                 86      0          630.69
268       1          603.05                589     -2          630.69
269       1          418.60                428     -5          615.23
270       0          135.11                142     -2          270.80

     Previous Points_y  +/-_y
0                 1204      0
1                 1204      0
2                 1204      0
3                 1204      0
4                 1204      0
5                 1204      0
6                 1097     -1
7                 1097     -1
8                 1097     -1
9                 1097     -1
10                1097     -1
11                1097     -1
12                1076     -1
13                1076     -1
14                1076     -1
15                1076     -1
16                1076     -1
17                1076     -1
18                1076     -1
19                1076     -1
20                1076     -1
21                 685     -1
22                 685     -1
23                 685     -1
24                 685     -1
25                 539     -1
26                 539     -1
27                 539     -1
28                 910     -1
29                1603      0
..                 ...    ...
241                801     -2
242                801     -2
243                801     -2
244                801     -2
245                671     -1
246                671     -1
247                527     -1
248                527     -1
249                142     -2
250                142     -2
251                657      0
252                657      0
253                335    -11
254                386     11
255                386     11
256                387     -1
257                387     -1
258                 66      1
259                428     -5
260                428     -5
261                 86      0
262                 86      0
263                560     10
264                560     10
265                325      4
266                325      4
267                614     -1
268                614     -1
269                614     -5
270                274      0

[271 rows x 7 columns]

In [53]:
#'Brazil', 'Germania'
#print(ser_code.index.tolist())

def make_test_data(strCountry1Name, strCountry2Name):
    sc1=ser_code[strCountry1Name]
    sc2=ser_code[strCountry2Name]
    pd1=df_rank[df_rank['Team']==strCountry1Name][['Total Points', 
               'Previous Points', '+/-', ]]
    pd2=df_rank[df_rank['Team']==strCountry2Name][['Total Points', 
               'Previous Points', '+/-', ]]
    return { 'Total Points_x':pd1['Total Points'].values[0], 
             'Previous Points_x':pd1['Previous Points'].values[0],  '+/-_x':pd1['+/-'].values[0],  
             'Total Points_y':pd2['Total Points'].values[0], 
             'Previous Points_y':pd2['Previous Points'].values[0], '+/-_y':pd1['+/-'].values[0]}

print(make_test_data('Brazil', 'Germany'))

{'Total Points_x': 1715.02, 'Previous Points_x': 1672, '+/-_x': 0, 'Total Points_y': 1511.4400000000001, 'Previous Points_y': 1464, '+/-_y': 0}

## Let's do modeling
Testing models on 2017 FIFA Confederations Cup

In [54]:
from sklearn.model_selection import train_test_split

X=pd_model[lst_model_fld[1:]]
y=pd_model[lst_model_fld[0]]

X_train, X_test, y_train, y_test=train_test_split(X, y, random_state=0)

In [10]:
interst= [['Россия', 'Португалия'],
['Мексика', 'Новая Зеландия'],
['Мексика', 'Россия'],
['Новая Зеландия', 'Португалия'],
['Австралия', 'Германия'],
['Камерун', 'Австралия'],
['Германия', 'Чили'],
['Германия', 'Камерун'],
['Чили', 'Австралия']]

query_list=[]
for_result_lst=[]

for item in interst:
    itm=[dict_translate.get(word.strip(), word.strip()) for word in item]
    for_result_lst.append(['-'.join(itm)])
    #print(itm)
    dct=make_test_data(itm[0], itm[1])
    query_list.append(dct)
pd_query=pd.DataFrame(query_list)
print(for_result_lst)
pd_query

[['Russia-Portugal'], ['Mexico-New Zealand'], ['Mexico-Russia'], ['New Zealand-Portugal'], ['Australia-Germany'], ['Cameroon-Australia'], ['Germany-Chile'], ['Germany-Cameroon'], ['Chile-Australia']]

,+/-_x,+/-_y,Previous Points_x,Previous Points_y,Total Points_x,Total Points_y
0,-2,-2,561,1259,560.85,1266.76
1,-1,-1,1076,301,1049.98,343.62
2,-1,-1,1076,561,1049.98,560.85
3,17,17,301,1259,343.62,1266.76
4,2,2,661,1464,681.26,1511.44
5,1,1,779,661,811.05,681.26
6,0,0,1464,1411,1511.44,1422.14
7,0,0,1464,779,1511.44,811.05
8,0,0,1411,661,1422.14,681.26

## Suport Vector Machine

In [18]:
from sklearn.model_selection import GridSearchCV
from sklearn.svm import SVC

grid_Params={'C':[0.01, 0.1, 1, 10, 100], 'gamma':[0.01, 0.1, 1, 10, 100]}

grid1=GridSearchCV(SVC(kernel='rbf'), param_grid=grid_Params, scoring='precision_micro')
grid1.fit(X_train, y_train)

print('Best params SVC: ', grid1.best_params_)
print('Best score SVC: ', grid1.best_score_)

dtf_res=pd.DataFrame(grid1.cv_results_)
print(dtf_res)

Best params SVC:  {'C': 1, 'gamma': 0.1}
Best score SVC:  0.507389162562
    mean_fit_time  mean_score_time  mean_test_score  mean_train_score param_C  \
0        0.010737         0.003676         0.502463          0.502469    0.01
1        0.008093         0.002622         0.502463          0.502469    0.01
2        0.007453         0.002485         0.502463          0.502469    0.01
3        0.007781         0.002583         0.502463          0.502469    0.01
4        0.007531         0.002505         0.502463          0.502469    0.01
5        0.007813         0.003336         0.502463          0.502469     0.1
6        0.007763         0.002581         0.502463          0.502469     0.1
7        0.007808         0.002538         0.502463          0.502469     0.1
8        0.007591         0.002564         0.502463          0.502469     0.1
9        0.007634         0.002537         0.502463          0.502469     0.1
10       0.007913         0.002575         0.502463          0.995062       1
11       0.007861         0.002576         0.507389          0.997531       1
12       0.007912         0.002648         0.507389          0.997531       1
13       0.008001         0.002680         0.507389          0.997531       1
14       0.008392         0.002653         0.507389          0.997531       1
15       0.009105         0.002857         0.502463          0.997531      10
16       0.008336         0.002661         0.507389          0.997531      10
17       0.008212         0.002527         0.507389          0.997531      10
18       0.008173         0.002461         0.507389          0.997531      10
19       0.008239         0.002479         0.507389          0.997531      10
20       0.008584         0.002591         0.502463          0.997531     100
21       0.008395         0.002538         0.507389          0.997531     100
22       0.008277         0.002503         0.507389          0.997531     100
23       0.008246         0.002512         0.507389          0.997531     100
24       0.008197         0.002603         0.507389          0.997531     100

   param_gamma                      params  rank_test_score  \
0         0.01  {'C': 0.01, 'gamma': 0.01}               13
1          0.1   {'C': 0.01, 'gamma': 0.1}               13
2            1     {'C': 0.01, 'gamma': 1}               13
3           10    {'C': 0.01, 'gamma': 10}               13
4          100   {'C': 0.01, 'gamma': 100}               13
5         0.01   {'C': 0.1, 'gamma': 0.01}               13
6          0.1    {'C': 0.1, 'gamma': 0.1}               13
7            1      {'C': 0.1, 'gamma': 1}               13
8           10     {'C': 0.1, 'gamma': 10}               13
9          100    {'C': 0.1, 'gamma': 100}               13
10        0.01     {'C': 1, 'gamma': 0.01}               13
11         0.1      {'C': 1, 'gamma': 0.1}                1
12           1        {'C': 1, 'gamma': 1}                1
13          10       {'C': 1, 'gamma': 10}                1
14         100      {'C': 1, 'gamma': 100}                1
15        0.01    {'C': 10, 'gamma': 0.01}               13
16         0.1     {'C': 10, 'gamma': 0.1}                1
17           1       {'C': 10, 'gamma': 1}                1
18          10      {'C': 10, 'gamma': 10}                1
19         100     {'C': 10, 'gamma': 100}                1
20        0.01   {'C': 100, 'gamma': 0.01}               13
21         0.1    {'C': 100, 'gamma': 0.1}                1
22           1      {'C': 100, 'gamma': 1}                1
23          10     {'C': 100, 'gamma': 10}                1
24         100    {'C': 100, 'gamma': 100}                1

    split0_test_score  split0_train_score  split1_test_score  \
0            0.500000            0.503704           0.500000
1            0.500000            0.503704           0.500000
2            0.500000            0.503704           0.500000
3            0.500000            0.503704           0.500000
4            0.500000            0.503704           0.500000
5            0.500000            0.503704           0.500000
6            0.500000            0.503704           0.500000
7            0.500000            0.503704           0.500000
8            0.500000            0.503704           0.500000
9            0.500000            0.503704           0.500000
10           0.514706            0.992593           0.500000
11           0.514706            1.000000           0.514706
12           0.514706            1.000000           0.514706
13           0.514706            1.000000           0.514706
14           0.514706            1.000000           0.514706
15           0.514706            1.000000           0.500000
16           0.514706            1.000000           0.514706
17           0.514706            1.000000           0.514706
18           0.514706            1.000000           0.514706
19           0.514706            1.000000           0.514706
20           0.514706            1.000000           0.500000
21           0.514706            1.000000           0.514706
22           0.514706            1.000000           0.514706
23           0.514706            1.000000           0.514706
24           0.514706            1.000000           0.514706

    split1_train_score  split2_test_score  split2_train_score  std_fit_time  \
0             0.503704           0.507463                 0.5      0.001431
1             0.503704           0.507463                 0.5      0.000501
2             0.503704           0.507463                 0.5      0.000066
3             0.503704           0.507463                 0.5      0.000605
4             0.503704           0.507463                 0.5      0.000082
5             0.503704           0.507463                 0.5      0.000193
6             0.503704           0.507463                 0.5      0.000030
7             0.503704           0.507463                 0.5      0.000139
8             0.503704           0.507463                 0.5      0.000027
9             0.503704           0.507463                 0.5      0.000092
10            0.992593           0.492537                 1.0      0.000031
11            0.992593           0.492537                 1.0      0.000024
12            0.992593           0.492537                 1.0      0.000245
13            0.992593           0.492537                 1.0      0.000078
14            0.992593           0.492537                 1.0      0.000671
15            0.992593           0.492537                 1.0      0.000401
16            0.992593           0.492537                 1.0      0.000103
17            0.992593           0.492537                 1.0      0.000106
18            0.992593           0.492537                 1.0      0.000087
19            0.992593           0.492537                 1.0      0.000141
20            0.992593           0.492537                 1.0      0.000121
21            0.992593           0.492537                 1.0      0.000108
22            0.992593           0.492537                 1.0      0.000096
23            0.992593           0.492537                 1.0      0.000090
24            0.992593           0.492537                 1.0      0.000094

    std_score_time  std_test_score  std_train_score
0         0.000596        0.003509         0.001746
1         0.000028        0.003509         0.001746
2         0.000035        0.003509         0.001746
3         0.000086        0.003509         0.001746
4         0.000039        0.003509         0.001746
5         0.000952        0.003509         0.001746
6         0.000006        0.003509         0.001746
7         0.000024        0.003509         0.001746
8         0.000022        0.003509         0.001746
9         0.000014        0.003509         0.001746
10        0.000015        0.009206         0.003492
11        0.000016        0.010424         0.003492
12        0.000130        0.010424         0.003492
13        0.000062        0.010424         0.003492
14        0.000054        0.010424         0.003492
15        0.000168        0.009206         0.003492
16        0.000028        0.010424         0.003492
17        0.000009        0.010424         0.003492
18        0.000020        0.010424         0.003492
19        0.000022        0.010424         0.003492
20        0.000028        0.009206         0.003492
21        0.000011        0.010424         0.003492
22        0.000004        0.010424         0.003492
23        0.000044        0.010424         0.003492
24        0.000070        0.010424         0.003492

In [19]:
lr=list(zip(for_result_lst, grid1.predict(pd_query)))
for i in lr:
    print(i)

(['Russia-Portugal'], 1)
(['Mexico-New Zealand'], 1)
(['Mexico-Russia'], 1)
(['New Zealand-Portugal'], 1)
(['Australia-Germany'], 1)
(['Cameroon-Australia'], 1)
(['Germany-Chile'], 1)
(['Germany-Cameroon'], 1)
(['Chile-Australia'], 1)

## Logistic Regression

In [21]:
from sklearn.linear_model import LogisticRegression
grid_ParamsLG={'C':[0.01, 0.1, 1, 10, 100]}

grid4=GridSearchCV(LogisticRegression(), param_grid=grid_ParamsLG, scoring='precision_micro')
grid4.fit(X_train, y_train)

print('Best params (max. accurancy): ', grid4.best_params_)
print('Best score (accurancy): ', grid4.best_score_)

dtf_res=pd.DataFrame(grid4.cv_results_)
print(dtf_res)

Best params (max. accurancy):  {'C': 1}
Best score (accurancy):  0.679802955665
   mean_fit_time  mean_score_time  mean_test_score  mean_train_score param_C  \
0       0.006273         0.003627         0.669951          0.692121    0.01
1       0.009819         0.004126         0.669951          0.694590     0.1
2       0.006643         0.001253         0.679803          0.699492       1
3       0.006298         0.001140         0.674877          0.706881      10
4       0.006943         0.001191         0.669951          0.704430     100

        params  rank_test_score  split0_test_score  split0_train_score  \
0  {'C': 0.01}                3           0.735294            0.666667
1   {'C': 0.1}                3           0.735294            0.674074
2     {'C': 1}                1           0.720588            0.674074
3    {'C': 10}                2           0.720588            0.688889
4   {'C': 100}                3           0.720588            0.688889

   split1_test_score  split1_train_score  split2_test_score  \
0           0.617647            0.718519           0.656716
1           0.617647            0.718519           0.656716
2           0.647059            0.718519           0.671642
3           0.647059            0.718519           0.656716
4           0.647059            0.718519           0.641791

   split2_train_score  std_fit_time  std_score_time  std_test_score  \
0            0.691176      0.001221        0.002711        0.049035
1            0.691176      0.002999        0.003954        0.049035
2            0.705882      0.000429        0.000087        0.030632
3            0.713235      0.000529        0.000005        0.032680
4            0.705882      0.000598        0.000045        0.036003

   std_train_score
0         0.021179
1         0.018304
2         0.018699
3         0.012904
4         0.012140

In [22]:
lr=list(zip(for_result_lst, grid4.predict(pd_query)))
for i in lr:
    print(i)

(['Russia-Portugal'], 1)
(['Mexico-New Zealand'], -1)
(['Mexico-Russia'], -1)
(['New Zealand-Portugal'], 1)
(['Australia-Germany'], 1)
(['Cameroon-Australia'], -1)
(['Germany-Chile'], -1)
(['Germany-Cameroon'], -1)
(['Chile-Australia'], -1)

## Decision Tree

In [44]:
from sklearn import tree

grid_ParamsDT={'max_depth':[1, 3, 5, 10, 15, 30, 50, 100]}

grid2=GridSearchCV(tree.DecisionTreeClassifier(), param_grid=grid_ParamsDT, scoring='accuracy')
grid2.fit(X_train, y_train)

print('Best params Tree (max. accurancy): ', grid2.best_params_)
print('Best score Tree (accurancy): ', grid2.best_score_)

dtf_res=pd.DataFrame(grid2.cv_results_)
print(dtf_res)

Best params Tree (max. accurancy):  {'max_depth': 3}
Best score Tree (accurancy):  0.620689655172
   mean_fit_time  mean_score_time  mean_test_score  mean_train_score  \
0       0.003494         0.000635         0.561576          0.598475
1       0.005093         0.000628         0.620690          0.721641
2       0.006272         0.000863         0.527094          0.812745
3       0.004217         0.000809         0.527094          0.982716
4       0.004187         0.000829         0.546798          0.997531
5       0.004157         0.000797         0.551724          0.997531
6       0.003973         0.000772         0.536946          0.997531
7       0.003935         0.000803         0.571429          0.997531

  param_max_depth              params  rank_test_score  split0_test_score  \
0               1    {'max_depth': 1}                3           0.529412
1               3    {'max_depth': 3}                1           0.617647
2               5    {'max_depth': 5}                7           0.500000
3              10   {'max_depth': 10}                7           0.500000
4              15   {'max_depth': 15}                5           0.514706
5              30   {'max_depth': 30}                4           0.558824
6              50   {'max_depth': 50}                6           0.500000
7             100  {'max_depth': 100}                2           0.588235

   split0_train_score  split1_test_score  split1_train_score  \
0            0.548148           0.544118            0.629630
1            0.674074           0.588235            0.755556
2            0.770370           0.558824            0.829630
3            0.985185           0.529412            0.962963
4            1.000000           0.573529            0.992593
5            1.000000           0.544118            0.992593
6            1.000000           0.544118            0.992593
7            1.000000           0.573529            0.992593

   split2_test_score  split2_train_score  std_fit_time  std_score_time  \
0           0.611940            0.617647      0.000704        0.000070
1           0.656716            0.735294      0.002309        0.000015
2           0.522388            0.838235      0.002340        0.000030
3           0.552239            1.000000      0.000095        0.000018
4           0.552239            1.000000      0.000198        0.000033
5           0.552239            1.000000      0.000256        0.000027
6           0.567164            1.000000      0.000064        0.000012
7           0.552239            1.000000      0.000020        0.000043

   std_test_score  std_train_score
0        0.035859         0.035921
1        0.028005         0.034637
2        0.024299         0.030169
3        0.021363         0.015221
4        0.024375         0.003492
5        0.006029         0.003492
6        0.027854         0.003492
7        0.014753         0.003492

In [45]:
lr=list(zip(for_result_lst, grid2.predict(pd_query)))
for i in lr:
    print(i)

(['Russia-Portugal'], -1)
(['Mexico-New Zealand'], -1)
(['Mexico-Russia'], -1)
(['New Zealand-Portugal'], -1)
(['Australia-Germany'], -1)
(['Cameroon-Australia'], -1)
(['Germany-Chile'], -1)
(['Germany-Cameroon'], -1)
(['Chile-Australia'], -1)

## KNeighbors Classifier

In [46]:
from sklearn.neighbors import KNeighborsClassifier 

grid_ParamsKNN={'n_neighbors':[1, 3, 5, 15, 20, 30, 35,  50, 70, 100]}

grid3=GridSearchCV(KNeighborsClassifier(), param_grid=grid_ParamsKNN, scoring='accuracy')
grid3.fit(X_train, y_train)

print('Best params Neighbors: ', grid3.best_params_)
print('Best score Neighbors: ', grid3.best_score_)

dtf_res=pd.DataFrame(grid3.cv_results_)
print(dtf_res)

#'precsion_micro' is not a valid scoring value. Valid options are 
#['accuracy', 'adjusted_rand_score', 'average_precision', 'f1', 'f1_macro', 
# 'f1_micro', 'f1_samples', 'f1_weighted', 'neg_log_loss', 'neg_mean_absolute_error', 
# 'neg_mean_squared_error', 'neg_median_absolute_error', 'precision', 'precision_macro', 
# 'precision_micro', 'precision_samples', 'precision_weighted', 'r2', 'recall', 'recall_macro', 
# 'recall_micro', 'recall_samples', 'recall_weighted', 'roc_auc']

Best params Neighbors:  {'n_neighbors': 30}
Best score Neighbors:  0.699507389163
   mean_fit_time  mean_score_time  mean_test_score  mean_train_score  \
0       0.004447         0.001541         0.571429          0.997531
1       0.003654         0.001534         0.591133          0.758678
2       0.005916         0.002833         0.620690          0.721714
3       0.003978         0.002118         0.640394          0.704484
4       0.003707         0.002097         0.674877          0.694553
5       0.003673         0.002191         0.699507          0.692121
6       0.003630         0.002286         0.674877          0.689706
7       0.003666         0.002450         0.674877          0.674927
8       0.003508         0.002543         0.665025          0.677397
9       0.003504         0.002553         0.610837          0.605955

  param_n_neighbors                params  rank_test_score  split0_test_score  \
0                 1    {'n_neighbors': 1}               10           0.588235
1                 3    {'n_neighbors': 3}                9           0.661765
2                 5    {'n_neighbors': 5}                7           0.691176
3                15   {'n_neighbors': 15}                6           0.691176
4                20   {'n_neighbors': 20}                2           0.691176
5                30   {'n_neighbors': 30}                1           0.691176
6                35   {'n_neighbors': 35}                2           0.691176
7                50   {'n_neighbors': 50}                2           0.691176
8                70   {'n_neighbors': 70}                5           0.632353
9               100  {'n_neighbors': 100}                8           0.602941

   split0_train_score  split1_test_score  split1_train_score  \
0            1.000000           0.588235            0.992593
1            0.770370           0.544118            0.770370
2            0.733333           0.544118            0.725926
3            0.711111           0.602941            0.718519
4            0.666667           0.632353            0.711111
5            0.696296           0.676471            0.688889
6            0.696296           0.647059            0.703704
7            0.674074           0.661765            0.696296
8            0.681481           0.676471            0.696296
9            0.600000           0.588235            0.629630

   split2_test_score  split2_train_score  std_fit_time  std_score_time  \
0           0.537313            1.000000      0.001846        0.000065
1           0.567164            0.735294      0.000726        0.000067
2           0.626866            0.705882      0.003488        0.001134
3           0.626866            0.683824      0.000266        0.000073
4           0.701493            0.705882      0.000071        0.000067
5           0.731343            0.691176      0.000039        0.000021
6           0.686567            0.669118      0.000003        0.000037
7           0.671642            0.654412      0.000044        0.000009
8           0.686567            0.654412      0.000094        0.000286
9           0.641791            0.588235      0.000049        0.000096

   std_test_score  std_train_score
0        0.023945         0.003492
1        0.051002         0.016535
2        0.060340         0.011596
3        0.037338         0.014919
4        0.030472         0.019834
5        0.023142         0.003097
6        0.019832         0.014869
7        0.012249         0.017110
8        0.023550         0.017342
9        0.022544         0.017416

In [47]:
lr=list(zip(for_result_lst, grid3.predict(pd_query)))
for i in lr:
    print(i)

print(grid3.score(X_test, y_test))

(['Russia-Portugal'], -1)
(['Mexico-New Zealand'], -1)
(['Mexico-Russia'], -1)
(['New Zealand-Portugal'], -1)
(['Australia-Germany'], -1)
(['Cameroon-Australia'], -1)
(['Germany-Chile'], -1)
(['Germany-Cameroon'], -1)
(['Chile-Australia'], -1)
0.558823529412